@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.LoaderContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}